a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 0rem;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

ol,
ul {
    padding-left: 0rem;
}

.screen {
    padding: 30px 20px 20px 20px;
    font-family: 'Lato';
    width: 100%;
    overflow-y: auto;
    height: 100vh;
}

.card {
    border-radius: 15px;
    padding: 45px 35px;
}

.card-header {
    padding: .5rem .5rem;
    background-color: transparent;
}

.card-body {
    padding: 2rem 1rem;
}

.fw-700 {
    font-weight: 700;
}

.fs-12 {
    font-size: 12px;
}

.form-control {
    min-height: calc(3.5rem + 2px)
}

.opacity-65 {
    opacity: .65;

}

.opacity-00 {
    opacity: 0;
    ;
}

.custom-select-input.form-control {
    padding: 0px !important;

}

.custom-select-input.form-control .css-13cymwt-control,
.custom-select-input.form-control .css-t3ipsp-control {
    padding: .45rem .75rem .3rem;
    min-height: calc(3.5rem)
}

.react-datepicker-wrapper {
    width: 100%;
}


HTML CSSResult Skip Results Iframe EDIT ON .file-input input[type="file"] {
    position: relative;
}

.file-input input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
}

/* Faked label styles and icon */
.file-input input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url('data:image/svg+xml,<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>');
}

.file-input input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #5C5E64;
    content: "Upload";
    line-height: 20px;
}

/* ---------------- LABELS -------------*/

.label-draft {
    background-color: #e8e8e8!important;
    color: #989898!important
}

.label-draft,.label-paid {
    display: inline;
    padding: 4px 10px;
    font-weight: 600
}

.label-paid {
    background-color: #e6f9e5!important;
    color: #0cbf00!important
}

.label-posted {
    background-color: #e5f7ff!important;
    color: #00b0ff!important
}

.label-posted,.label-sent {
    display: inline;
    padding: 4px 10px;
    font-weight: 600
}

.label-sent {
    background-color: #e8fbf6!important;
    color: #28d9ac!important
}

.label-approved {
    background-color: #e8effb!important;
    color: #2064d8!important
}

.label-approved,.label-closed {
    display: inline;
    padding: 4px 10px;
    font-weight: 600
}

.label-closed {
    background-color: #f5f2fd!important;
    color: #d1d1d1!important
}

.label-success {
    background-color: #e7faed!important;
    color: #1bc852!important
}

.label-primary,.label-success {
    display: inline;
    padding: 4px 10px;
    font-weight: 600
}

.label-primary {
    background-color: #e8ebfc!important;
    color: #18038d!important
}

.label-info {
    background-color: #e8fbfd!important;
    color: #11c5db!important
}

.label-danger,.label-info {
    display: inline;
    padding: 4px 10px;
    font-weight: 600
}

.label-danger {
    background-color: #fff5f6!important;
    color: #f83245!important
}

.label-bank {
    background-color: #e8effb!important;
    color: #2165d8!important
}

.label-bank,.label-overdue {
    display: inline;
    padding: 4px 10px;
    font-weight: 600
}

.label-overdue {
    background-color: #fce5e7!important;
    color: #e1021a!important
}

.label-due {
    background-color: #fee5e5!important;
    color: #f10101!important
}

.label-due,.label-Pending {
    display: inline;
    padding: 4px 10px;
    font-weight: 600
}

.label-Pending {
    background-color: #fff2e7!important;
    color: #fe7c18!important
}

.label-currency {
    background-color: #f1f1f1!important;
    color: #727272!important;
    display: inline;
    padding: 4px 10px;
    font-weight: 600
}

/* ------- From Step 1 ------- */

/* file upload button */
.file-input input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #5C5E64;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

.modal.show .modal-dialog {
    min-width: 70% !important;
}

.modal-content {
    padding: 1.5rem;
}
.group:hover .group-hover\:opacity-100{
    z-index: 90;
}

.rounded-top{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.date-floating-label{
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.date-floating-input{
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}