@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin:0px;
  padding:0px;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(42, 179, 168, 0.733);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #7992aa;
  outline: 1px solid #1976d246;
}


  .roundScroll::-webkit-scrollbar {
    width: 10px;
  }
  
  .roundScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(42, 179, 168, 0.733);
    border-radius: 10px;
  }
  
  .roundScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #202f75;
    outline: 1px solid #1976d246;
  }
  