@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("./app/shared/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF")
    format("opentype");
}

body {
  font-family: "SF-Pro-Display";
  overflow: hidden;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(42, 179, 168, 0.733);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #7992aa;
  outline: 1px solid #1976d246;
}

.hideScroll::-webkit-scrollbar {
  width: 0px;
}

.roundScroll::-webkit-scrollbar {
  width: 7px;
}

.roundScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(42, 179, 168, 0.733);
  border-radius: 10px;
}

.boardScroll::-webkit-scrollbar {
  width: 6px;
}

.boardScroll::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(42, 179, 168, 0.733);
}

.boardScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7992aa;
  outline: 1px solid #1976d246;
}

.xScroll::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

.xScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(42, 179, 168, 0.733);
  border-radius: 10px;
}

.xScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #202f75;
  outline: 1px solid #1976d246;
}

.roundScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bcc0cc;
  outline: 1px solid #bcc0cc;
}

/* scroll style 2 */
.roundScrollsm::-webkit-scrollbar {
  width: 6px;
}

.roundScrollsm::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #bcc0cc;
  border-radius: 10px;
}

.roundScrollsm::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #202f75;
  outline: 1px solid #1976d246;
}

.xScroll::-webkit-scrollbar {
  width: 2px;
  height: 11px;
}

.xScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(42, 179, 168, 0.733);
  border-radius: 10px;
}

.xScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #202f75;
  outline: 1px solid #1976d246;
}
.quill{
  border: 1px solid #dee2e6 !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid #E1E2E5  !important;
  position: sticky !important;
  top: 0 !important;
  background-color: #F6F7FA !important;
  z-index: 0 !important;
  padding: 2px 0px !important;
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
}

.ql-container.ql-snow {
  border: none !important;
  /* border-top: 1px solid #ccc !important; */
}

.ql-editor::-webkit-scrollbar {
  width: 5px !important;
}

.ql-editor::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(42, 179, 168, 0.733) !important;
  border-radius: 10px !important;
}

.ql-editor::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #202f75 !important;
  outline: 1px solid #1976d246 !important;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0px !important;
}

/* date picker style overriding */
.css-13cymwt-control {
  border: none !important;
}

.css-13cymwt-control:focus {
  border: 2px solid white !important;
}

/* custom react select */
/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #202f75;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #202f75;
}

/* profile box shadow */

/* CSS */
.shadow-bottom {
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05),
    0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04),
    0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}
/* Input Shad */
.shadow-input {
  box-shadow: 0.5px 2px 1px 0px rgba(0, 0, 0, 0.19);
}
/* service card shadow */
.shadow-card {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21);;
}


/* notifications scrooll */

.gray-scorll::-webkit-scrollbar {
  width: 8px;  
}

.gray-scorll::-webkit-scrollbar-track {
  background: #f1f1f1;  
  border-radius: 8px;  
}

.gray-scorll::-webkit-scrollbar-thumb {
  background: #c0c5ce;  
  border-radius: 8px;  
}

.gray-scorll::-webkit-scrollbar-thumb:hover {
  background: #9099a2;  
  border-radius: 8px;  
}
