@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .font-heading {
    @apply text-4xl font-bold text-primary;
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 292 45% 44%;
    /* --bs-primary: 292 45% 44%; */
    --primary-foreground: 355.7 100% 99%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 292 45% 44%;
    --chart-1: 347 77% 50%;
    --chart-2: 349 77% 62%;
    --chart-3: 350 80% 72%;
    --chart-4: 351 83% 82%;
    --chart-5: 352 83% 91%;
    --radius: 0.5rem;
    
    --slate-1: 240deg 20% 99%;
  --slate-2: 240deg 20% 98%;
  --slate-3: 240deg 11.1% 94.7%;
  --slate-4: 240deg 9.5% 91.8%;
  --slate-5: 230deg 10.7% 89%;
  --slate-6: 240deg 10.1% 86.5%;
  --slate-7: 233deg 9.9% 82.2%;
  --slate-8: 231deg 10.2% 75.1%;
  --slate-9: 231deg 5.9% 57.1%;
  --slate-10: 226deg 5.4% 52.7%;
  --slate-11: 220deg 5.9% 40%;
  --slate-12: 210deg 12.5% 12.5%;

  --plum-1: 280deg 100% 99.4%;
  --plum-2: 300deg 60% 98%;
  --plum-3: 300deg 66.7% 95.3%;
  --plum-4: 298deg 65% 92.2%;
  --plum-5: 298deg 58.6% 88.6%;
  --plum-6: 296deg 52.5% 84.3%;
  --plum-7: 294deg 49.1% 78.4%;
  --plum-8: 292deg 47.7% 70.8%;
  --plum-9: 292deg 44.8% 51%;
  --plum-10: 292deg 44% 47.6%;
  --plum-11: 292deg 44.9% 44.1%;
  --plum-12: 291deg 57.6% 23.1%;
  
  --mauve-1: 300deg 20% 99%;
  --mauve-2: 270deg 20% 98%;
  --mauve-3: 285deg 14.3% 94.5%;
  --mauve-4: 276deg 11.6% 91.6%;
  --mauve-5: 274deg 12.3% 88.8%;
  --mauve-6: 262deg 11.4% 86.3%;
  --mauve-7: 258deg 11.1% 82.4%;
  --mauve-8: 249deg 10.4% 75.5%;
  --mauve-9: 249deg 6% 57.5%;
  --mauve-10: 250deg 5% 53.3%;
  --mauve-11: 252deg 4.8% 40.8%;
  --mauve-12: 257deg 10.1% 13.5%;

  --gray-1: 0deg 0% 98.8%;
  --gray-2: 0deg 0% 97.6%;
  --gray-3: 0deg 0% 94.1%;
  --gray-4: 0deg 0% 91%;
  --gray-5: 0deg 0% 87.8%;
  --gray-6: 0deg 0% 85.1%;
  --gray-7: 0deg 0% 80.8%;
  --gray-8: 0deg 0% 73.3%;
  --gray-9: 0deg 0% 55.3%;
  --gray-10: 0deg 0% 51.4%;
  --gray-11: 0deg 0% 39.2%;
  --gray-12: 0deg 0% 12.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }



  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }

}




