.textEditorText ol {
  list-style: disc;
  margin: 0 7%;
}

.textEditorText ul {
  list-style: decimal;
  margin: 0 7%;
}

.textEditorText img {
  margin: 1rem auto;
  width: auto;
}

.textEditorText a {
  color: #953ea3;
}
.textEditorText a:hover {
  text-decoration: underline;
}
.image-none img {
  display: none;
}

.textEditorText h3 {
  font-size: 20px;
}
.textEditorText h3,
.textEditorText h1,
.textEditorText h2,
.textEditorText h5,
.textEditorText h6,
.textEditorText h4 {
  margin: 1rem auto;
}

.mention {
  background-color: #fbebfb;
  /* bg-blue-100 equivalent */
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  font-weight: 500;
  color: #953ea3;
}

/* Style for rendered comments */
.comment-content .mention {
  pointer-events: none;
  /* Prevent interaction with rendered mentions */
}
